<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
</head>
<body>
    <h1>Reset Password</h1>
    <form action="{% url 'reset_password' %}" method="post">
        {% csrf_token %}
        <label for="new_password">Enter new password:</label><br>
        <input type="password" id="new_password" name="new_password"><br><br>
        <label for="confirm_password">Confirm new password:</label><br>
        <input type="password" id="confirm_password" name="confirm_password"><br><br>
        <input type="submit" value="Reset Password">
    </form>
</body>
</html>
