<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Password</title>
</head>
<body>
    <h1>Update Password</h1>
    <form action="{% url 'update_password' %}" method="post">
        {% csrf_token %}
        <label for="current_password">Enter current password:</label><br>
        <input type="password" id="current_password" name="current_password"><br><br>
        <label for="new_password">Enter new password:</label><br>
        <input type="password" id="new_password" name="new_password"><br><br>
        <label for="confirm_password">Confirm new password:</label><br>
        <input type="password" id="confirm_password" name="confirm_password"><br><br>
        <input type="submit" value="Update Password">
    </form>
</body>
</html>
